
@{
    ViewBag.Title = "Liquidation Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-offset-1 col-lg-10" style="border-style:dashed;border-color:blue;padding:0px;">
        <div class="text-center">
            <h3>LIQUIDATION FORM</h3>
        </div>
        <div>
            <input type="text" class="form-control" placeholder="Purpose" />
        </div>
    </div>
</div>
